
.info{
    
  background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;




    
    height: 70px;
    
    color: paleturquoise;
    font-size: 80px;
    line-height: 1.2;
  }
  img{
    padding-right: 50px;
  }